### Martin Muga
### Email: martinmuga04@gmail.com
#### Question 2 Solutions

Since the question asks what is the probability that a passanger travelling from Kijauri will take a shuttle if they depart before 07.30, I took the count number of occurences when passangers will depart Kijauri before 07.30 and divided it by the count number of occurences where they car they is a shuttle.
To get the count number of occurneces when a passanger left Kijauri before 07.30, i used a for loop to loop through the entire travel_from row to get number of occurances for Kijauri and then used an if statement to filter to depatures that happended before 07.30.
I then looped through this to get the count of those that used a shuttle as their car_type. As for the dataset, i changed the travel_time format from HH:MM to HH.MM

In [1]:
import pandas as pd
df = pd.read_csv('train_revised_q_two.csv')
df

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,17-10-17,7.15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,7.12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,7.50,Keroka,Nairobi,Bus,49
3,5777,19A,Mpesa,SGP18CL0ME,27-11-17,7.10,Homa Bay,Nairobi,Bus,49
4,5778,11A,Mpesa,BM97HFRGL9,27-11-17,7.12,Migori,Nairobi,Bus,49
...,...,...,...,...,...,...,...,...,...,...
51640,13826,9B,Mpesa,8V2XDDZR6V,20-04-18,8.00,Awendo,Nairobi,Bus,49
51641,13809,18A,Mpesa,4PEBSVJSNK,20-04-18,8.00,Migori,Nairobi,Bus,49
51642,13809,17A,Mpesa,LVN64LZDNN,20-04-18,8.00,Migori,Nairobi,Bus,49
51643,13796,16B,Mpesa,REYBSKTYWN,20-04-18,7.80,Awendo,Nairobi,Bus,49
51644,14304,7,Mpesa,AQN7FBUSGP,14-11-17,5.10,Kisii,Nairobi,Bus,49

In [3]:
travel_from = df['travel_from']
travel_time = df['travel_time']
count = 0
for Kijauri in travel_from:
    if travel_time  <= 7.30:
        count += 1
print(count)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().